.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:   rgb(11,26, 51);
    margin: 30px;
    padding: 30px;
    border: 1px solid #ffff00;
    border-radius: 10px;
    width: 740px;
    box-shadow: 5px 5px 10px  10px rgba(101,175, 10, 0.5);
    
}
.exp{
    width: 900px;
}