.home{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.home .left{
  background-color:   rgb(11,26, 51);
    width: 700px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: 5px 5px 10px  10px rgba(101,175, 10, 0.5);
   
}
h2{
  color: yellow;
  font-size: 15;
}
.text{
  color: yellow;
  font-size: 20px;
}

  